/* distribuir llaves en toda la página */
.flex-container{  
    display: flex;
    flex-wrap:wrap;
    color: #333;
    font-family: sans-serif;
}

/* PARA QUE NO QUEDE DESPLAZADO IMAGEN */
body {
    overflow: hidden;
}

.flex-item{
    flex-grow:1;
    /* flex-basis: 320px; */
    margin:20px;
    max-width: 300px;
    border: 2px solid #333;
    /* padding top de cero 0 */
    padding: 0 20px;
}

/* color cuando pasa por encima  y SOMBRITA con px*/
.flex-item:hover{
    border-color: #4459ce;
    box-shadow: 0px 0px 13px #4459ce
}

/* cuando se le da click queda seleccionado */
.flex-item:focus{
    border-color: #4459ce;
    box-shadow: 0px 0px 13px #4459ce
}


/* borde del recuadro que encierra las llaves */
h2,h3{margin: 0 ;}


h3 {color: #999;}

p b {color: #31a431;}

.llave-img{
    width: 300px;
}


/* BOTONCITO DE COMPRAR */
form {
    width:100%;
    text-align: center;
}


input[type="submit"]{
    background: #1b5515;
    color: #fff;
    border:none;
    /* tamaño del cajon */
    padding: 15px 50px;
    /* tamaño letra */
    font-size: 20px;
    letter-spacing: 1;
    /* toda la letra boton se ponga en mayuscula */
}

